@{
    Layout = null;
}

@model Tuple<List<achei_web.Models.POJO.Student>, achei_web.Models.POJO.Person, List<achei_web.Models.POJO.Iten>>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Itens</title>
    <style>
        body {
            background-color: rgb(255, 246, 229);
        }

        .card {
            border: none;
            border-radius: 10px
        }

        img {
            max-height: 200px;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="tela_login_aluno.html">Tapt!</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="tela_login_aluno.html">Index</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="tela_cadastro_aluno.html">Cadastro aluno</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="tela_cadastro_item.html">Cadastro item</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="tela_lista_itens.html">Itens</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container mt-5 mb-3">
        <h3>Olá, @Model.Item2.name!</h3>
        <a class="nav-link text-dark" asp-area="" asp-controller="Iten" asp-route-id="@Model.Item2.id" asp-action="Create">Criar item</a>
        <div class="row">
            <!--Início card-->
            <!--Fim card-->
            <!--Início card-->
            @{
                foreach (var iten in Model.Item3)
                {
                    <div class="col-md-4 mt-5">
                        <div class="card p-3 mb-2">
                            <div class="d-flex justify-content-between">
                                <div class="d-flex flex-row align-items-center">
                                    <div class="ms-2 c-details">
                                        <h6 class="mb-0">Postado por: @iten.student_record</h6> <span>Há 1 dia</span>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-5">
                                <div class="d-flex flex-row align-items-center justify-content-center">
                                    <img src="~/@iten.image_path" class="img-fluid" alt="">
                                </div>
                                <h3 class="heading">@iten.name</h3>
                                <div class="d-flex flex-row align-items-center justify-content-center">
                                    <a type="button" class="btn btn-primary" asp-area="" asp-controller="Iten" asp-route-id="@iten.id" asp-action="Read">Ver mais</a>

                                    @{
                                        if (@Model.Item1[0].student_record == @iten.student_record)
                                        {
                                            <a type="button" class="btn btn-primary ml-4" asp-area="" asp-controller="Iten" asp-route-id="@iten.id" asp-action="Update">Editar</a>
                                        }
                                    }
                                    @*<a href="pagina_item.html" type="button" class="btn btn-primary">Ver mais</a>*@
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }

            <!--Fim card-->
            <!--Início card-->
            <!--<div class="col-md-4 mt-5">
        <div class="card p-3 mb-2">
            <div class="d-flex justify-content-between">
                <div class="d-flex flex-row align-items-center">
                    <div class="ms-2 c-details">
                        <h6 class="mb-0">Postado por: Maria</h6> <span>Há 1 dia</span>
                    </div>
                </div>
            </div>

            <div class="mt-5">
                <div class="d-flex flex-row align-items-center justify-content-center">
                    <img src="fotos/carteira.jpg" class="img-fluid" alt="">
                </div>
                <h3 class="heading">Carteira</h3>
                <div class="d-flex flex-row align-items-center justify-content-center">
                    <a href="pagina_item.html" type="button" class="btn btn-primary">Ver mais</a>
                </div>
            </div>
        </div>
    </div>-->
            <!--Fim card-->
            <!--Início card-->
            <!--<div class="col-md-4 mt-5">
        <div class="card p-3 mb-2">
            <div class="d-flex justify-content-between">
                <div class="d-flex flex-row align-items-center">
                    <div class="ms-2 c-details">
                        <h6 class="mb-0">Postado por: Maria</h6> <span>Há 1 dia</span>
                    </div>
                </div>
            </div>
            <div class="mt-5">
                <div class="d-flex flex-row align-items-center justify-content-center">
                    <img src="fotos/garrafa.jpg" class="img-fluid" alt="">
                </div>
                <h3 class="heading">Garrafa</h3>
                <div class="d-flex flex-row align-items-center justify-content-center">
                    <a href="pagina_item.html" type="button" class="btn btn-primary">Ver mais</a>
                </div>
            </div>
        </div>
    </div>-->
            <!--Fim card-->
            <!--Início card-->
            <!--<div class="col-md-4 mt-5">
        <div class="card p-3 mb-2">
            <div class="d-flex justify-content-between">
                <div class="d-flex flex-row align-items-center">
                    <div class="ms-2 c-details">
                        <h6 class="mb-0">Postado por: Maria</h6> <span>Há 1 dia</span>
                    </div>
                </div>
            </div>

            <div class="mt-5">
                <div class="d-flex flex-row align-items-center justify-content-center">
                    <img src="fotos/mouse.webp" class="img-fluid" alt="">
                </div>
                <h3 class="heading">Mouse</h3>
                <div class="d-flex flex-row align-items-center justify-content-center">
                    <a href="pagina_item.html" type="button" class="btn btn-primary">Ver mais</a>
                </div>
            </div>
        </div>
    </div>-->
            <!--Fim card-->
            <!--Início card-->
            <!--<div class="col-md-4 mt-5">
        <div class="card p-3 mb-2">
            <div class="d-flex justify-content-between">
                <div class="d-flex flex-row align-items-center">
                    <div class="ms-2 c-details">
                        <h6 class="mb-0">Postado por: Maria</h6> <span>Há 1 dia</span>
                    </div>
                </div>
            </div>
            <div class="mt-5">
                <div class="d-flex flex-row align-items-center justify-content-center">
                    <img src="fotos/oculos.jpg" class="img-fluid" alt="">
                </div>
                <h3 class="heading">Óculos</h3>
                <div class="d-flex flex-row align-items-center justify-content-center">
                    <a href="pagina_item.html" type="button" class="btn btn-primary">Ver mais</a>
                </div>
            </div>
        </div>
    </div>-->
            <!--Fim card-->

        </div>
    </div>
</body>

</html>