@{
    Layout = null;
}

@model Tuple<achei_web.Models.POJO.Iten, achei_web.Models.POJO.Person, achei_web.Models.POJO.Room, List<achei_web.Models.POJO.Room>>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Item</title>
    <style>
        body {
            background-color: rgb(255, 246, 229);
        }

        img {
            max-height: 300px;
        }

        span {
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 20px;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-sm bg-light">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/List/Index">Início</a>

            </li>

        </ul>
        <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        Opções
                    </a>
                    <div class="dropdown-menu">
                        <a class="nav-link" asp-area="" asp-controller="Iten" asp-route-user="@Model.Item2.id" asp-action="List">Meus itens</a>
                        <a class="nav-link" asp-area="" asp-controller="Student" asp-route-id="@Model.Item2.id" asp-action="Update">Editar meu perfil</a>
                        <a class="nav-link" asp-area="" asp-controller="Iten" asp-route-id="@Model.Item2.id" asp-action="Create">Cadastrar novo item</a>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Student" asp-action="Logout">Sair</a>
                </li>
            </ul>
        </div>
    </nav>
    <section>
        <div class="container h-100 mt-5 mb-5">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-lg-12 col-xl-11">
                    <div class="card text-black" style="border-radius: 25px;">
                        <div class="card-body p-md-5">
                            <div class="row justify-content-center">
                                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                                    <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">@Model.Item1.name</p>

                                    <form class="mx-1 mx-md-4">

                                        <div class="d-flex flex-row align-items-center justify-content-center mb-4">
                                            <img src="~/@Model.Item1.image_path" alt="">
                                        </div>

                                        <div class="d-flex flex-row align-items-center mb-4">
                                            <div class="form-outline flex-fill mb-0">
                                                <span>@Model.Item1.description</span>
                                            </div>
                                        </div>

                                        <div class="d-flex flex-row align-items-center mb-4">
                                            <div class="form-outline flex-fill mb-0">
                                                <span>Encontrado em: @Model.Item1.date_found</span>
                                            </div>
                                        </div>

                                        <div class="d-flex flex-row align-items-center mb-4">
                                            <div class="form-outline flex-fill mb-0">
                                                @if (@Model.Item1.status == 1)
                                                {
                                                    <span>Status: Encontrado</span>
                                                }
                                                else
                                                {
                                                    <span>Status: Não encontrado</span>
                                                }
                                            </div>
                                        </div>

                                        @{
                                            if (Model.Item1.person_id == Model.Item2.id)
                                            {

                                                foreach (var iten in Model.Item4)
                                                {
                                                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                                        <a type="button" class="btn btn-secondary" asp-area="" asp-controller="Chat" asp-route-id="@iten.id_room" asp-action="Index">Chat room @iten.id_room</a>
                                                    </div>
                                                }
                                            }
                                        }

                                        @{
                                            if (Model.Item1.person_id != Model.Item2.id)
                                            {
                                                <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                                    <a type="button" class="btn btn-primary" asp-area="" asp-controller="Chat" asp-route-id="@Model.Item3.id_room" asp-action="Index">Iniciar chat</a>
                                                </div>
                                            }
                                        }

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>